---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
	{
		title: 'Experience',
		path: '#experience',
	},
];
---

<header data-testId="header" class="flex w-full flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- 			<Button size={'sm'} name="Download CV">Download CV</Button>
 -->
			<div class="ml-auto block lg:hidden">
				<MenuIcon class="mr-5 mt-5 h-6 w-6 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="menu-items mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="gradient-bg ml-auto flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="font-mono flex justify-around py-3 font-bold text-white hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li class="flex justify-around"><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>

<style>
	.gradient-bg {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%);
	}

	/* Hide the gradient on large screens */
	@media (min-width: 1024px) {
		.gradient-bg {
			background-image: none;
		}
	}

	.menu-items {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.5s ease-in-out;
	}

	/* State when the menu is shown */
	.menu-items.open {
		max-height: 500px; /* Adjust based on the total height of your menu items */
	}
</style>
