---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
	{
		title: 'Experience',
		path: '#experience',
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- 			<Button size={'sm'} name="Download CV">Download CV</Button>
 -->
			<div class="block lg:hidden ml-auto">
				<MenuIcon class="h-6 w-6 text-black dark:text-white menu-toggle" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto menu-enter navbarMenu">
			<ul class="flex flex-col lg:flex-row lg:gap-3 ml-auto">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-3 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3 justify-around font-bold font-mono"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<li class="flex justify-around"><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
<!-- <script>
	document.addEventListener('DOMContentLoaded', function() {
	  const menuToggle = document.querySelector('.menu-toggle');
	  const menu = document.querySelector('.navbarMenu');
  
	  menuToggle.addEventListener('click', function() {
		const isOpen = menu.classList.contains('fade-in');
  
		if (isOpen) {
		  menu.classList.remove('fade-in');
		  menu.classList.add('fade-out');
		  setTimeout(() => menu.classList.add('hidden'), 1000); // Ensure this matches the duration of your fade-out animation
		} else {
		  menu.classList.remove('hidden');
		  menu.classList.remove('fade-out');
		  menu.classList.add('fade-in');
		}
	  });
	});
  </script> -->

  <style>

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Animation classes */
.fade-in {
  animation: fadeIn 1s ease forwards;
}

.fade-out {
  animation: fadeOut 1s ease forwards;
}

  </style>